<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmarks</title>
</head>
<body>
  <%= flash[:notice] %>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class="bookmark">
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete">
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
          <input type="submit" value="Edit">
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
          <input type="submit" value="Add Comment">
        </form>
      </li>
    <% end %>
  </ul>
</body>
</html>